:root {
    --background-color: #white;
    --primary-color: #3e838c;
    --second-color: #8ebdb6;
    --dark-contrast: #2b2726;
    --clear-constrast: #7dad93;
}

.navbar {
    background-color: var(--primary-color);
}

.main {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background-color: var(--primary-color);
    display: flex;
    width: 80%;
    height: 80%;
}

.main-container-editProfile {
    background-color: var(--primary-color);
    width: 50%;
    padding: 2%;
    align-content: center;
}

.main-container-profile {
    background-color: var(--second-color);
    width: 50%;
    padding: 2%;
    align-content: center;
}

#profileBio{
    background: transparent;
    border: none;
    resize: none;
}

@media (max-width: 480px) {
    .main-container{
        flex-direction: column;
    }
    
}